
.nav{
  height: 6rem;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
}

/*Styling logo*/
.logo{
  padding:1vh 1vw;
  text-align: center;
  text-transform: uppercase;
}
.logo img {
  height: 3rem;
  width: 3rem;
  margin-right: 10px;
}

/*Styling Links*/
.nav-links{
  list-style: none;
  padding: 0 0.7vw;
  align-items: center;
}
.nav-links a{
  text-decoration: none;
  margin: 0 0.7vw;
}
.nav-links{
  position: relative;
}
.nav-links a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61DAFB;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.cart-button{
  background-color: #ABA4A3;
  color: #131418;
  border: 1.5px solid #ABA4A3;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.cart-button:hover {
  background-color: #C7BEBD;
  color: #131418;
  border: 1.5px solid #C7BEBD;
  transition: all ease-in-out 350ms;
}
.login-button{
  background-color: #89ba16;
  color: white;
  border: 1.5px solid #89ba16;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.login-button:hover {
  color: white;
  background-color: #90c317;
  transition: all ease-in-out 350ms;
}
.logout-button{
  background-color: #FF5733;
  color: #131418;
  border: 1.5px solid #FF5733;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.logout-button:hover {
  color: #131418;
  background-color: #F5785D;
  transition: all ease-in-out 350ms;
}
.join-button{
  color: #131418;
  background-color: #61DAFB;
  border: 1.5px solid #61DAFB;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.join-button:hover {
  color: #131418;
  background-color: #8EE7FF;
  transition: all ease-in-out 350ms;
}
.admin-button{
  background-color: #ABA4A3;
  color: #131418;
  border: 1.5px solid #ABA4A3;
  text-decoration: none;
  border-radius: 2em;
  padding: 0.3rem 0.4rem;
  font-size: 0.5rem;
  cursor: pointer;
}
.admin-button:hover {
  background-color: #C7BEBD;
  color: #131418;
  border: 0.5px solid #C7BEBD;
  transition: all ease-in-out 350ms;
}

